* {
      margin: 0;
      padding: 0;
}

html {
      cursor:
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><text y='24' font-size='24'>🐝</text></svg>") 16 16, auto;
}

:root {
      font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
      --color-text: #0b3b4b;
      --color-panel: #dbf6fd;
      --color-panel-x: #008ebd;
      --color-container: #f0effe;
      --color-container-y: #4f3ff0;
      --color-btn: #5b81ff;
      --color-btn-hover: #4f3ff0;
      --color-bg: #f3f9fd;
      --color-white: #ffffff;
}

html,
body {
      background-color: var(--color-bg);
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
}

.garden {
      flex-wrap: wrap;
      display: flex;
      gap: 24px;
      padding: 10px;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      position: absolute;
      overflow: hidden;
      height: 100vh;
      width: 100vw;
}

.flower {
      /* filter: grayscale(1); */
      /* 改变色相 */
      filter: hue-rotate(240deg);
      width: 38px;

      transition:
            transform 0.3s ease-in-out,
            opacity 0.2s ease-in,
            rotate 0.3s ease-in-out;
      color: inherit;
      opacity: 0.05;
}

.game_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: var(--color-white);
      width: 96%;
      max-width: 600px;
      height: 600px;
      border-radius: 50px;
      perspective: 1000px;
      box-shadow: 0px 15px 15px -50px rgba(0, 0, 0, 0.1);
      position: relative;
}

.numCard {
      width: 160px;
      height: 180px;
      margin-bottom: 25px;
      transition: transform 0.5s ease-in-out;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      border-radius: 20px;
      background-color: var(--color-container);
}

/* 悬停放大（仅未翻转时生效） */
.numCard:not(.flipped):hover {
      transform: scale(1.1);
}

.front,
.back {
      width: 100%;
      height: 100%;
      position: absolute;
      /* 背面不可见 */
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease-in-out;
      border-radius: 20px;

      span {
            font-size: 70px;
            font-weight: 600;
            opacity: 0.3;
      }
}

.front {
      background-color: var(--color-container);
      transform: rotateY(0deg);

      span {
            color: var(--color-container-y);
      }

      &::before,
      &::after {
            position: absolute;
            font-size: 14px;
            font-weight: 600;
            color: var(--color-container-y);
            opacity: 0.06;
            writing-mode: vertical-rl;
      }

      &::before {
            top: 14px;
            left: 8px;
            content: 'GUESS';
      }

      &::after {
            bottom: 14px;
            right: 8px;
            content: 'GAME';
            scale: -1;
      }
}

.back {
      background-color: var(--color-panel);
      transform: rotateY(180deg);

      span {
            color: var(--color-panel-x);
      }

      &::before,
      &::after {
            position: absolute;
            font-size: 14px;
            font-weight: 600;
            color: var(--color-panel-x);
            writing-mode: vertical-rl;
      }


      &::before {
            top: 14px;
            left: 8px;
            content: 'GUESS';
            opacity: 0.1;
      }

      &::after {
            bottom: 14px;
            right: 8px;
            content: 'GAME';
            opacity: 0.1;
            scale: -1;
      }
}


.flipped {
      transform: rotateY(180deg) !important;
}

.text {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease-in-out;
}

p {
      font-size: 15px;
      color: var(--color-text);
      opacity: 0.3;
      margin-bottom: 35px;
}

.hint {
      position: absolute;
      margin-top: -78%;
      font-size: 15px;
      padding: 10px 16px;
      background-color: var(--color-text);
      border-radius: 16px;
      color: var(--color-white);
      will-change: margin-top;
      transition: margin-top 0.5s ease-in-out;

      &::before {
            content: "";
            position: absolute;
            /* top: -5px; */
            bottom: -5px;
            right: 0;
            left: 0;
            width: 16px;
            height: 16px;
            margin: 0 auto;
            background-color: var(--color-text);
            border-radius: 5px;
            transform: rotateZ(45deg);
      }
}

.history {
      margin-top: 30px;
      font-size: 15px;
      opacity: 0.5;
      color: var(--color-text);
}

.time_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;

      h1 {
            font-size: 30px;
            font-weight: 600;
            color: var(--color-text);
            height: 40px;
            opacity: 1;
            display: flex;
            align-items: center;
      }
}

.timeIcon {
      width: 22px;
      height: 22px;
      background-color: var(--color-bg);
      margin-right: 10px;
      border: 4px solid var(--color-container-y);
      border-radius: 50%;

      &::before {
            content: '';
            position: absolute;
            margin-left: 9px;
            margin-top: 4px;
            width: 4px;
            height: 10px;
            border-radius: 4px;
            background-color: var(--color-container-y);
      }
}

.timeIcon.timeRed {
      border-color: red;
      background-color: var(--color-white);

      &::before {
            background-color: red;
      }
}

.hidden {
      display: none;
}

.startGame {
      /* display: contents; */
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      #startBtn,
      #restartBtn {
            font-size: 20px;
            font-weight: 600;
            margin-top: -64px;
            margin-bottom: 10px;
            width: 160px;
            height: 64px;
            border-radius: 20px;
            cursor: inherit;
            border: none;
            color: var(--color-white);
            background-color: var(--color-btn);
            transition: width 0.5s ease-in-out;
            z-index: 1;

            &:hover {
                  background-color: var(--color-btn-hover);
            }
      }
}

#restartBtn {
      margin-top: 26px !important;
}

.input_container {
      display: flex;
      margin-top: 20px;
      position: relative;
}

#confirmBtn {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 44px;
      padding: 0 16px;

      &:hover {
            background-color: var(--color-white);
            border-radius: 16px;
      }
}

svg {
      height: 44px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: var(--color-text);
      stroke-width: 2.5;
}

#input {
      width: 80px;
      height: 60px;
      padding: 0 30px;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-text);
      background-color: var(--color-bg);
      outline: none;
      /* 解决抖动问题 */
      border: 2px solid transparent;
      transition: width 0.3s ease-in-out;
      /* transform: translateZ(0); */

      &:focus {
            outline: none;
            border: 2px solid var(--color-btn);
            transition: border-color 1s;
      }

      &::placeholder {
            font-size: 15px;
            font-weight: 500;
            opacity: 0.3;
      }

      /* 去除input上下加减 */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
            -webkit-appearance: none;
      }
}

#input.highlight::placeholder,
#input.tooHigh::placeholder {
      opacity: 1 !important;
      transition: opacity 0.3s ease-in-out;
      color: var(--color-container-y);
}

#input.highlight,
#input.tooHigh {
      -webkit-animation: shake 0.4s ease-in-out;
      animation: shake 0.4s ease-in-out;
}

@keyframes shake {

      0%,
      100% {
            transform: translateX(0);
      }

      20% {
            transform: translateX(-8px);
      }

      40% {
            transform: translateX(8px);
      }

      60% {
            transform: translateX(-6px);
      }

      80% {
            transform: translateX(6px);
      }
}

.startGame.active #input {
      width: 380px;
}

.startGame.active #startBtn {
      width: 0;
      display: none;
      /* pointer-events: none; */
      /* visibility: hidden; */
}

#confetti {
      position: fixed;
      pointer-events: none;
      z-index: 9999
}

@media (max-width: 768px) {
      .game_container {
            border-radius: 24px;
      }

      button {
            min-width: 44px;
            min-height: 44px;
            touch-action: manipulation;
      }

      h1 {
            font-size: 24px !important;
      }

      .hint {
            display: none;
      }

      .flower {
            width: 32px;
      }

      .startGame.active #input {
            width: 260px;
      }
}